<!DOCTYPE html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<meta charset="utf-8">
<head>
  <!-- <link rel="stylesheet" type="text/css" href="graph.css"> -->
</head>
<body>
<p>
  <p><label for="sex_M"
          style="display: inline-block; width: 140px; text-align: right">
        Gender:
  </label>
  <select id="sex_M" onchange="calculateFunction()" class="inputSelect">
    <option value=1>Male </option>
    <option value=0>Female </option>
  </select></p>
  <p><label for="address_U"
          style="display: inline-block; width: 140px; text-align: right">
        Home Address Type:
  </label>
  <select id="address_U" onchange="calculateFunction()" class="inputSelect">
    <option value=1>Urban </option>
    <option value=0>Rural </option>
  </select></p>
  <p><label for="higher_yes"
          style="display: inline-block; width: 140px; text-align: right">
        Plan to take higher degree:
  </label>
  <select id="higher_yes" onchange="calculateFunction()" class="inputSelect">
    <option value=1>Yes </option>
    <option value=0>No </option>
  </select></p>
  <p><label for="internet_yes"
          style="display: inline-block; width: 140px; text-align: right">
        Internet at Home:
  </label>
  <select id="internet_yes" onchange="calculateFunction()" class="inputSelect">
    <option value=1>Yes </option>
    <option value=0>No </option>
  </select></p>
  <p><label for="romantic_yes"
          style="display: inline-block; width: 140px; text-align: right">
        Romantic Relationship:
  </label>
  <select id="romantic_yes" onchange="calculateFunction()" class="inputSelect">
    <option value=1>Yes </option>
    <option value=0>No </option>
  </select></p>
  <p><label for="failures"
          style="display: inline-block; width: 140px; text-align: right">
          Number of Past Class Failures:
  </label>
  <select id="failures" onchange="calculateFunction()" class="inputSelect">>
    <option value=0>0 </option>
    <option value=1>1 </option>
    <option value=2>2 </option>
    <option value=3>3 </option>
    <option value=4>>3 </option>
  </select></p>
  <p><label for="famrel"
          style="display: inline-block; width: 140px; text-align: right">
        Quality of Family Relationships:
  </label>
  <select id="famrel" onchange="calculateFunction()" class="inputSelect">>
    <option value=1>very bad </option>
    <option value=2>bad </option>
    <option value=3>normal </option>
    <option value=4>good </option>
    <option value=5>excellent </option>
  </select></p>
  
</p>

<p>
    <label for="result"
    style="display: inline-block; width: 140px; text-align: right">
  <div class="result_message"></div>
</label>

</p>

<script>
function calculateFunction() {      
    $.ajax({        
        url: "{{ url_for('calculate')}}",
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(extractData()),
        type: 'POST',
        success: function(response) {
            showResult(response['result']);
            console.log(response);
        },        
        error: function(error) {
            console.log(error);
        }    
    })  
}
</script>

<script>


function extractData() {
    output_dict = {};
    //get all form inputs and save in a dictionary
    var numbers = $(".inputSelect");
    console.log(numbers)
    numbers.each(function() {
       output_dict[$(this).attr('id')] = $(this).find(":selected").val();
    })

    var bars = $(".inputBar");
    console.log(bars)
    bars.each(function() {
       output_dict[$(this).attr('id')] = $(this).val();
    })

    console.log(output_dict)
    return output_dict;
  };

function showResult(result) {
    var resultMessageDiv = d3.selectAll(".result_message")
    .text(result);
    console.log(result);
};


</script>

<style>

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

</style>
<svg width="960" height="500"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

var svg = d3.select("svg"),
    margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom;

var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
    y = d3.scaleLinear().rangeRound([height, 0]);

var g = svg.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.tsv("/static/data.tsv", function(d) {
  d.frequency = +d.frequency;
  return d;
}, function(error, data) {
  if (error) throw error;

  x.domain(data.map(function(d) { return d.letter; }));
  y.domain([0, d3.max(data, function(d) { return d.frequency; })]);

  g.append("g")
      .attr("class", "axis axis--x")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  g.append("g")
      .attr("class", "axis axis--y")
      .call(d3.axisLeft(y).ticks(10, "%"))
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end")
      .text("Frequency");

  g.selectAll(".bar")
    .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.letter); })
      .attr("y", function(d) { return y(d.frequency); })
      .attr("width", x.bandwidth())
      .attr("height", function(d) { return height - y(d.frequency); });
});

</script>